/* Custom properties/variables  */

:root {
    --main-white: #f0f0f0;
    --main-red: #FF5733;
    --main-blue: #4a148c;
    --main-gray: #000000;
}


/* Footer */

footer {
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--main-white);
}

footer {
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background: #051a3d;
    border-top: 4px solid #059669;
}

footer>p {
    margin: 2rem;
}

footer i {
    vertical-align: middle;
}

@media (max-width: 28.75em) {
    footer {
        flex-direction: column;
        text-align: center;
    }
}


/* Contact section */

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
    background: #03122c;
    color: var(--main-white);
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
}

.contact-section-header>h2 {
    font-size: 3rem;
}

@media (max-width: 28.75em) {
    .contact-section-header>h2 {
        font-size: 2rem;
    }
}

.contact-section-header>p {
    font-style: italic;
}

.contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
}

.social-image {
    height: 1.5rem;
    width: auto;
}

.contact-details {
    font-size: 1rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
}

.contact-details:hover {
    transform: translateY(8px);
}